includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - config
        - database

    # Exclude paths
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
        - database/migrations
        - database/seeders/DatabaseSeeder.php

    # Check missing typehints
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    # Ignore errors
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property#'

    # Report uncovered functions
    reportUnmatchedIgnoredErrors: false
