includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app

    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - database/migrations
        - database/seeders

    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to an undefined property#'
        - '#Relation .* is not found in App\\#'
        - '#Class Laravel\\Telescope#'
        - '#Class Laravel\\Nightwatch#'

    reportUnmatchedIgnoredErrors: false
